.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}




.tabs {
  display: flex;
  width:150px;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 6px 6px 0 rgba(85, 86, 86, 0.211), 
  6px 0 12px 0 rgba(85, 86, 86, 0.211);
  padding: 0.75rem;
  border-radius: 99px;
}

.tabs * {
  z-index: 2;
}

.container input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 50px;
  font-size: 1rem;
  color: black;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
}



.container input[type="radio"]:checked + label {
  color: #ffffff;
}
.container input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}

.container input[id="radio-2"]:checked ~ .glider {
  transform: translateX(115%);
}


.glider {
  position: absolute;
  display: flex;
  height: 40px;
  width: 60px;
  background-color: rgba(24, 94, 224, 0.664);
  z-index: 1;
  border-radius: 99px;
  transition: 0.20s ease-out;
}


.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form_details{
  border: .2px solid white;
  padding: 2%;
  border-radius: 20px;
  background-color: #ffffff;
  width: 90%;
}
.fields{
  display: flex;
  justify-content: space-between;
}
.fields input{
  border-radius: 5px;
  border: 1px solid rgb(105, 100, 100);
  margin-left: 3%;
  width: 70%;
}
.fields select{
  border-radius: 5px;
  border: 1px solid rgb(105, 100, 100);
  margin-left: 3%;
  width: 60%;
}
.form-headings{
  font-size: 1.2em;
  margin-bottom: 1%;
  text-decoration: underline;
}


.datatable{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.table{
  width: 90%;
  border-radius: 20px;
  background-color: #ffffff;
}
